<div *ngIf = "CommentsData?.length > 0" class="comments text-center" >
    <div class="post-meta">
        <span class="comments" ><i class="icon_comment_alt"></i> <a href="#" *ngIf = "CommentsData.length == 1; else multipleComments">{{CommentsData.length}} Comment</a></span><!-- /.comments -->
        <ng-template #multipleComments><a href="#">{{CommentsData.length}} Comments</a></ng-template>
    </div><!-- /.post-meta -->
  <ul class="comment-list">
    <app-comment-list-item *ngFor = "let Comment of CommentsData" [CommentData] = "Comment"></app-comment-list-item>
  </ul><!-- /.comment-list -->
</div><!-- /.comments -->