<li class="comment parent media">
  <div class="author-avatar media-left pull-left">
      <img class="img-circle" src="{{CommentData.author.image}}" alt="Avatar" height="40px" width="40px">
  </div><!-- /.author-avatar -->
  <div class="comment-details media-body">
      <app-user-profile-link [User] = "CommentData.author"></app-user-profile-link>
      <p>
          {{CommentData.body}}
      </p>
      <time>{{CommentData.createdAt | date}}</time>
  </div><!-- /.comment-details -->
  <hr>
</li><!-- /.comment -->
