<article class="post type-post media">
  <div class="entry-thumbnail media-left pull-left"><img src="http://demos-jeweltheme.ipunu91y.maxcdn-edge.com/sasha/images/posts/02/1.jpg" alt="Thumbnail Image"></div><!-- /.entry-thumbnail -->
  <div class="entry-content media-body">
      <!-- <span class="category"><a href="categories.html">Lifestyle</a></span>/.category -->
      <h2 class="entry-title"><a href="standard.html">{{articleData.title}}</a></h2><!-- /.entry-title -->
      <span class="time"><time datetime="2017-12-05">{{articleData.createdAt | date}}</time></span><!-- /.time -->
      <p>
        {{articleData.description}}    
      </p>

      <a href="standard.html" class="btn">Read more</a><!-- /.btn -->
  </div><!-- /.entry-content -->
</article><!-- /.post -->