<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div class="padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <app-article-list></app-article-list>
                <app-pagination></app-pagination>
            </div>
            <div class="col-sm-4">
                <aside class="sidebar text-center">
                    <app-tagbox></app-tagbox>
                </aside>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
