<section class="main-content">
  <div class="padding">
      <div class="container">
          <div class="about-me">
              <div class="details">
                  <div class="details-top text-center">
                      <h2 class="section-title">404'd</h2><!-- /.section-title -->
                  </div><!-- /.details-top -->
              </div><!-- /.details -->
          </div><!-- /.about-me -->
      </div><!-- /.container -->
  </div><!-- /.padding -->
</section><!-- /.main-content -->