<section class="main-content" *ngIf = "profile; else loading">
  <div class="padding">
      <div class="container">
          <div class="about-me">
              <div class="avatar text-center"><img src="https://static.productionready.io/images/smiley-cyrus.jpg" alt="Avatar" class="img-circle" height="80px" width = "80px"></div><!-- /.avatar -->

              <div class="details">
                  <div class="details-top text-center">
                      <h2 class="section-title">{{profile.username}}</h2><!-- /.section-title -->
                  </div><!-- /.details-top -->
              </div><!-- /.details -->
              
          </div><!-- /.about-me -->
          <div class="row button-row mt20">
            <div class="col-md-2">
              <button class = "list-button" [class.list-button-active] = "showMyArticles" (click) = "toggleList('myArticles')">My Articles</button>
            </div>
            <div class="col-md-2">
              <button class = "list-button" [class.list-button-active] = "showFavorites" (click) = "toggleList('favorites')">Favorited Articles</button>
            </div>
          </div>
          <div class="row" *ngIf = "showMyArticles">
            <div class="col-sm-8">
              <app-user-articles-list [username] = "profile.username"></app-user-articles-list>
            </div>
          </div>
          <div class="row" *ngIf = "showFavorites">
            <div class="col-sm-8">
              <app-user-favorited-articles-list [username] = "profile.username"></app-user-favorited-articles-list>
            </div>
          </div>
      </div>  <!-- /.container -->
  </div><!-- /.padding -->
</section><!-- /.main-content -->

<ng-template #loading><p class="text-center mt20"> Loading Profile..</p></ng-template>